<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How to use REST API</title>
</head>
<body>

<p> /api/all - List all songs </p>
<p> /api/id/{SongID} - Search song by ID</p>
<p> /api/{AuthorName} - Search songs by Author</p>
<p> /api/add - POST method by you can add song to API and Database [ You must as body add JSON that describes song ]</p>
<p> /api/put - PUT method by you can update song [ You must as body add JSON that describes song ]</p>
<p> /api/delete/{songID} - Delete song by ID </p>

<br>

<p> /console - H2 Database console, as JDBC URL you must type jdbc:h2:file:./music, there is no Username and no password </p>

</body>
</html>
